/*main CSS file*/
html,body {
    margin: 0;
    padding: 0;
    text-align: center;
    background-color: #FFF;
    min-height: 100vh;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    background: url("../images/background1.jpg") no-repeat center center fixed;
    background-size: cover;
}
#header {
    height: 275px;
    margin: 0px;
    color: #FFF;
    background-color: #2FD4C5;
}
.alt-logo {
    font-size: 4rem;
}
.indexbutton {
    color: #FFF;
    background-color: transparent;
    border-top: transparent;
    border-bottom: transparent;
    border-right: transparent;
    border-left: transparent;
}
.tagline {
    font-size: 3rem;
}
.content-wrapper{
    height: 100%;
    min-height: 100vh;
}
/*** Nav-Bar ***/
.navbar{
    font-family: "Arial Black", Gadget, sans-serif;
    display: block;
    padding: 0;
    border-top: 3px solid black;
    border-bottom: 3px solid black;
}
#nav-wrapper {
    height: 100%;
    margin: 0;
    background-color: #a1ebe4;
}
#nav-wrapper ul li a:hover {
    color: #eee;
    /*background-color: rgba(0,0,0,.2);*/
    background-color: #2FD4C5;
    margin: 0;
    height: 100%;
    cursor: pointer;
}
#nav-wrapper ul {
    height: 100%;
}
#nav-wrapper ul li{
    height: 100%;
    margin-left: 30px;
    margin-right: 30px;
}
#nav-wrapper a {
    height: 100%;
    color: #000;
    padding: 10px;
    display: block;
    text-decoration: none;
}
.active {
    /*color: #5bc5fa;*/
    background-color: rgba(0,0,0,0.2);
}
/*** Login Form ***/
.form-popup {
    display: flex; /*Needs to be flex when visible*/
    justify-content: center;
    align-items: center;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    z-index: 10;
    height: 100%;
    border: 2px solid #f1f1f1;
    background-color: rgba(0,0,0,.6);
    padding: 10px;
}

.form-container{
    padding: 10px;
    max-width: 400px;
    background-color: rgba(255,255,255,.9);
}
/*** Browser/index ***/
#browser-wrapper {
    /**background: url("../images/theater.jpg") no-repeat center center fixed;*/
    position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
}

/*.centered
{
  position: fixed;
  top: 50%;
  left: 50%;
  margin-left: -245px; /* Width of image /2 */
 /* margin-top: -50px;  Height of image /2 */
} */

/*** Search Fields ***/

#browser-wrapper .search-wrapper {
    font-size: 30px;
    border: 0;
    background-color: transparent;
}
.search-wrapper input{
    padding: 5px;
    min-width: 300px;
    width: 30%;
}
.search-wrapper .basic-movie-info {
    color: #000000;
    padding: 5px;
}
#browser-wrapper .search-wrapper input {
    border-radius: 8px 0 0 8px;
    border: 4px solid #282828;
}
.search-wrapper #search-button {
    border-radius: 0 8px 8px 0;
    /*border: 4px solid #fa9f00;*/
    background-color: #fa9f00;
    border-left: 0px;
}
#browser-wrapper .search-wrapper button {
    height: 63px;
    border: 4px solid #282828;
    background-color: #282828;
}
.btn-search-result-action {
    padding: 5px;
    margin: 5px;
    min-width: 100px;
    font-size: 14px;
}
/*** Filter ***/
#btn-collapse-filter {
    color: black;
    background-color: #5bc5fa;
}

/*#filter-box form-group{
width: 40%;
}*/
#footer {
    width: 100%;
    color:  #F8F8FF;
    background-color: rgba(0,0,0,.4);
}
/*simple class to hide elements*/
.hide {
    display: none;
}

.hide2 { 
    position:absolute; top:-1px; left:-1px; width:1px; height:1px; 
}
/*
  instead of adding 'even' and 'odd' to every <tr> tag, just add <table class="stripe">...</table>
  use 'stripe--nested' for tables that have expanding rows of details. Must have a thead around <th> tags
*/
.even,
.stripe > tbody > tr:nth-child(even), 
.stripe--nested > tbody > tr:nth-child(4n-1) {
  background-color: #eeeeee;
}

.odd,
.stripe > tbody > tr:nth-child(odd),
.stripe--nested > tbody > tr:nth-child(4n+1) {
  background-color: #cccccc;
}

.basic-movie-info {
    text-align: left;
    font-size: 14px;
    /*padding-left: 1em*/
}

.v-align-top {
    vertical-align: top;
}

.spacing {
    display: inline;
    margin-right: 1em;
}


#search-footer-data > div {
    display: inline;
}

.t-align-right {
    text-align: right;
}

#form1 {
    margin: auto;
    margin-left: auto;
    margin-right: auto;
    display: inline;
}

.box {
    text-align: center;
    color: #FFF;
    background-color: transparent;
    border-top: transparent;
    border-bottom: transparent;
    border-right: transparent;
    border-left: transparent;
    width: 39px;
    height: 45px;    
}



/* for decorating error messages */
.error {
    color: crimson;
}
